name: PHP Quicktest

on:
  push:
    branches: [ master ]
    paths:
      - 'lib/**'
      - 'tests/**'
  pull_request:
    branches: [ master ]
    types: [ opened, synchronize ]
    paths:
      - 'lib/**'
      - 'tests/**'

jobs:
  quicktest:

    runs-on: "ubuntu-latest"
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: wordpress
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
    - uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.3'
        extensions: mbstring, intl, dom, fileinfo, curl
        ini-values: post_max_size=256M
        coverage: xdebug
        tools: composer

    - name: Setup problem matchers for PHP
      run: echo "::add-matcher::${{ runner.tool_cache }}/php.json"

    - name: Get composer cache directory
      id: composercache
      run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

    - name: Cache dependencies
      uses: actions/cache@v4
      with:
        path: ${{ steps.composercache.outputs.dir }}
        key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
        restore-keys: ${{ runner.os }}-composer-

    - name: Install dependencies
      run: composer install --no-suggest --prefer-dist --optimize-autoloader

    - name: Setup problem matchers for PHPUnit
      run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

    - name: Prepare test environment
      run: ./bin/install-wp-tests.sh wordpress root password 127.0.0.1 latest true

    - name: Run PHP Unit
      run: ./vendor/bin/phpunit --coverage-clover=coverage.xml

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
